* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}
.layout-lg {
    width: 100%;
    max-width:1920px;
    margin: 0 auto;
    padding: 15px 20px;
}
.details {
    display: flex;
    flex-direction: column;
    gap:12px;
}
.list-bg {
    background: rgb(249, 250, 255);
    padding: 10px;
}

.list-item {
    background: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: rgb(224, 224, 224) 0px 2px 4px 0px;
    transition: all 1s ease;
}

.list-item a {
    color: tomato;
}

.list-item:last-child {
    margin-bottom: 0;
}

.list-item h4 {
    display: inline-block;
    font-size: 20px;
    font-weight: 800;
    margin: 0;
}

.list-item p {
    color: grey;
    margin: 5px 0px;
}

.write-wrapper {
    padding: 20px;
}

.write-wrapper h4 {
    margin-bottom: 10px;
}

input {
    box-sizing: border-box;
    padding: 10px;
    display: block;
    margin-bottom: 10px;
}

button {
    padding: 10px 15px;
    background: lightgray;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.navbar {
    background: white;
    padding: 20px;
    background-color: #000;
}
.navbar a {
    color:#fff;
}
.navbar a.logo {
    text-decoration: none;
    font-weight: bold;
}
.navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.left_nav,
.right_nav,
.center_nav {
    display: flex;
    gap:20px;
}
.navbar a {
    color:#fff;
}

.btns {
    display:flex;
    gap:12px;
    margin-top: 18px;
}
.btns .edit,
.btns .delete {
    display:inline-block;
    background-color: #000;
    color:#fff;
    padding: 3px 5px;
    border-radius: 6px;
}
.btns .delete {
    background-color:gray;
    color:#fff;
}
.list-item h4 {
    overflow: hidden;
    width: 100%;
    max-width:800px;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    word-break: break-word;
    display: -webkit-box !important;
}
.list-item p {
    overflow: hidden;
    width: 100%;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    word-break: break-word;
    display: -webkit-box !important;
}

.list-item.active {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-10%);
}
.navbar button {
    border:none;
    background: tomato;
    color:#fff;
    font-size: 16px;
    transition: 0.2s;
}
.navbar button:hover {
    background: #fff;
    color:#000;
}
.user-info {
    display:flex;
    align-items: center;
    gap:12px;
}
.welcome {
    display:flex;
    align-items: center;
    color:#ccc;
}
.welcome b {
    color:#fff;
    font-weight: 700;
}
.profile-img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}